.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15% 0;
}

.greeting-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: hsl(197, 100%, 66%);
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

@keyframes bounce {
  0% { transform: translateX(100%); }
  60% { transform: translateX(-10%); }
  80% { transform: translateX(5%); }
  100% { transform: translateX(0); }
}

.bounce {
  animation: bounce 1s;
}
